@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Roboto&family=Teko&display=swap');

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Mukta',Arial, Helvetica, sans-serif;
}
.name {
  font-family: 'Teko',Arial, Helvetica, sans-serif;
  font-size: 3.7em;
  color: rgb(11, 191, 125);
  text-shadow: 0px 0px .7em rgb(0, 0, 0); 
  margin-bottom: 0;
}
.subHeader {
  margin-top: 0;
  font-size: 1.7em;
  color: rgba(0, 192, 218, 0.925);
  text-shadow: 0px 0px .3em rgb(0, 0, 0);
}
.middle { 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(11, 13, 40, 0.47);
  color: rgb(171, 255, 213);
  border: 2px solid green;
  border-radius: 10px;
  min-height: 50vh;
  min-width: 85vw;
  margin: 1em;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.link {
  display: flex;
  margin: .5em;
  border: .05em solid green;
  color: rgba(0, 192, 218, 0.925);
  background-color: rgba(182, 182, 182, 0.15);
  font-size: 1.3em;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 10em;
  box-shadow: 0px 0px 1em black;
}
.link:hover {
  background-color: rgba(182, 182, 182, 0.314);
}
.social-link-image {
  height: 5em;
  transition: height .5s;
}
.social-link-image:hover {
  height: 7em;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 98%;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  border: 2px solid rgba(0, 192, 218, 0.925);
  box-shadow: 0px 0px 15px black;
  margin: 1em;
}
.project-card > a {
  color: rgb(171, 255, 213);
  text-decoration: none;
  margin: 4%;
}
.project-image {
  max-width: 90%;
  max-height: 90%;
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  max-height: 90%;
  font-size: 1em;
}
.about-para {
  margin: .2em;
}
.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9em;
  width: 9em;
  margin: .3em;
}
.home-center{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 2em;
  color: rgba(0, 192, 218, 0.925);
}
.headshot-container{
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid rgba(0, 192, 218, 0.925);
}
.headshot{
  height: 70%;
  width: 70%;
  border: 2px solid rgba(0, 192, 218, 0.925);
  border-radius: 50%;
}

@media screen and (max-width: 700px) {

  .link {
    margin: .5em;
    font-size: 1em;
    max-height: 2em;
    max-width: 8em;
    box-shadow: 0px 0px 1em black;
  }
  body, .App {
    width: 100%;
    background-color: rgb(0,54,59);
    background-image: none;
  }
  .name {
    text-align: center;
    margin-top: .2em;
    margin-bottom: 0;
  }
  .subHeader {
    margin-top: 0;
    margin-bottom: 0;
  }
  .middle {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 480px) {
  .card-container {
    flex-direction: column;
  }
  .project-card {
    width: 90%;
  }
  .contact-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .contact-card {
    padding: .3em;
  }
  .headshot{
    height: 90%;
    width: 90%;
    border: 2px solid rgba(0, 192, 218, 0.925);
    border-radius: 50%;
  }
  .home-center {
    font-size: 1.3em;
  }
  .name {
    font-size: 2.5em;
  }
  .subHeader {
    font-size: 1.3em;
  }
}
