body {
  margin: 0;
  padding: 0;
  background: url('./assets/images/background.jpg') no-repeat center;
  background-size: 100%;
}
@media screen and (min-width: 480px) {
  body {
    background: url('./assets/images/background.jpg') ;
  background-size: cover;
  }
}
